* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy-Bold';
}

html,body{
    width: 100%;
    height: 100%;
    background-image: url(/assets/image1.jpg);
    background-position: center;
    background-size: cover;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 50px;
    background-color: #110f0fa8; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#logo a {

    padding-left: 25px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

#options {
    list-style: none;
    display: flex;
    gap: 25px;
}

#options li a {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    padding: 7px;
    transition: 0.3s;
    opacity: 1;
}

#options li a:hover {
    border-radius: 5px;
    background-color: #33ff00;
    color: #fff; 
}

#signup a {
    text-decoration: none;
    background-color: #33ff00;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s;
    opacity: 0.8;
}

#signup a:hover {
    opacity: 1;
    font-weight: 300;
}

#content{

    padding: 190px 140px;
    color: #fff;
}

#content h1{
    font-size: 70px;
}

#learnmorebtn{
    margin-top: -100px;
}

#learnmorebtn a{
    
    margin-left: 140px;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

#learnmorebtn a:hover{
    background-color: #33ff00;
}
